<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iot.zhs.guanwuyou">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".NavigationActivity"
            android:theme="@style/AppThemeNoAction" />
        <activity android:name=".PileMapListActivity" />
        <activity
            android:name=".PileDetailActivity"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".NewTaskActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".CalibrationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".FillingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".PileListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".WorkReportPreviewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".WorkReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".PileSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <service
            android:name=".service.SerialService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.iot.zhs.guanwuyou.service.SerialService" />
            </intent-filter>
        </service>
        <service android:name=".service.FloatingViewService" />
        <service android:name=".service.PopupWindowService" />
    </application>

</manifest>